{{> privateNav}}
<div class="flex justify-center mb-4">
  <div class="border border-dashed border-mealjoy-light-green shadow-sm p-4 w-3/4 md:w-2/3 lg:w-2/4 align-middle">
    <div class="flex justify-center py-4 mx-3">
      <h1 class="pacifico justify-center text-2xl md:text-3xl lg:text-4xl text-center mealjoy-green">
        What would you like to eat?
      </h1>
    </div>
    <div class="flex justify-center my-4 mx-3">
      <form class="w-full max-w-sm" action="/dashboard" method="POST">
        <div class="flex items-center border-b border-mealjoy-green py-2">
          <input
            class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
            name="searchKeyword" type="text" placeholder="chicken" aria-label="Full name"
            {{#if searchTerm}}value={{searchTerm}}{{/if}}>
          <button class="flex-shrink-0 bg-red-600 hover:bg-red-500 text-white py-1 px-2 rounded" type="submit">
            Search
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{{#if recipes}}
<div class="flex justify-center">
  <h1 class="pacifico text-lg md:text-2xl lg:text-4xl mealjoy-red">Search Results:</h1>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 p-2">
  {{#each recipes}}
  {{> recipeCard}}
  {{/each}}
</div>
{{/if}}

{{#if savedRecipes}}
<div class="flex justify-center">
  <h1 class="pacifico mealjoy-red">Saved Recipes</h1>
</div>
<div class="grid grid-cols-2">
  {{#each savedRecipes}}
  {{> recipeCard}}
  {{/each}}
</div>
{{/if}}