{{> privateNav}}
<div class="flex justify-center py-4">
  <h1 class="pacifico justify-center text-green-800">
    What would you like to eat?
  </h1>
</div>
<div class="flex justify-center my-4">
  <form class="w-full max-w-sm" action="/recipes" method="POST">
    <div class="flex items-center border-b border-b-2 border-green-800 py-2">
      <input
        class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
        name="searchKeyword" type="text" placeholder="Jane Doe" aria-label="Full name">
      <button
        class="flex-shrink-0 bg-red-600 hover:bg-red-500 border-red-600 hover:border-red-500 text-sm border-4 text-white py-1 px-2 rounded"
        type="submit">
        Search
      </button>
    </div>
    <div class="flex items-center mr-4 mb-4 py-3">
      <input id="radio1" type="radio" name="radio" class="hidden" />
      <label for="radio1" class="flex items-center cursor-pointer px-2">
        <span class="w-4 h-4 inline-block mr-1 border border-grey"></span>
        Vegetarian</label>
      <input id="radio2" type="radio" name="radio" class="hidden" />
      <label for="radio2" class="flex items-center cursor-pointer px-2">
        <span class="w-4 h-4 inline-block mr-1 border border-grey"></span>
        Vegan</label>
      <input id="radio3" type="radio" name="radio" class="hidden" />
      <label for="radio3" class="flex items-center cursor-pointer px-2">
        <span class="w-4 h-4 inline-block mr-1 border border-grey"></span>
        Alcohol-Free</label>
      <input id="radio4" type="radio" name="radio" class="hidden" />
      <label for="radio4" class="flex items-center cursor-pointer px-2">
        <span class="w-4 h-4 inline-block mr-1 border border-grey"></span>
        Immuno-Supportive</label>
      <label for="radio4" class="flex items-center cursor-pointer px-2">
        <span class="w-4 h-4 inline-block mr-1 border border-grey"></span>
        Peanut-free</label>
      <label for="radio4" class="flex items-center cursor-pointer px-2">
        <span class="w-4 h-4 inline-block mr-1 border border-grey"></span>
        Sugar-Conscious</label>
    </div>
  </form>
</div>
<div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 p-2">
    {{#if recipes}}
    {{#each recipes}}
    {{> recipeCard}}
    {{/each}}
    {{/if}}
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
    <div class="flex justify-center">
      <h2 class="pacifico text-red-600">Saved Recipes</h1>
    </div>
    <div class="flex justify-center">
      <h1 class="pacifico text-red-600">Favorite Recipes</h1>
    </div>
  </div>
</div>