<div class="container-fluid mx-auto bg-gray-800 p-5">
  <nav class="flex justify-between">
    <div>
      <a class="text-white" href="/">Meal Joy</a>
    </div>
    <ul class="flex flex-row">
      <li class="pr-5"><a class="text-white" href="/dashboard">Dashboard</a></li>
      <li class="pr-5"><a class="text-white" href="/saved">Saved Recipes</a></li>
      <li class="pr-5"><a class="text-white" href="/login">Login</a></li>
    </ul>
  </nav>
</div>