<header>
  <nav class="flex justify-between items-center px-3 py-4 bg-white">
    <div>
      <img src="images/mealJoyLogo.webp" alt="Meal Joy logo" class="w-1/2 h-auto">
    </div>
    <div>
      <ul class="flex flex-row">
        <li class="pr-5"><a class="mealjoy-green text-sm md:text-lg lg:text-xl" href=" /dashboard">Dashboard</a></li>
        <li class="pr-5"><a class="mealjoy-green text-sm md:text-lg lg:text-xl" href="/my-recipes">Saved</a></li>
        <li class="pr-5"><a class="mealjoy-red text-sm md:text-lg lg:text-xl" href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>